
.main {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.decor {
    font-style: italic;
    color: gray;
}
.cherta {
    text-decoration: line-through;
}
.header>.ref {
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: .2s;
}
.image_cont {
    height: 230px;
    width: 230px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.product {
    padding: 25px;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    position: relative;
    transition: .2s;
    border-radius: 25px;
    cursor: pointer;
}
.product:hover {
    top: -2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.red {
    color: red;
    position: relative;
    margin: 0 0 0 10px;
}
.image1 {
    background-image: url(../img/ring1.jpg);
}
.image2 {
    background-image: url(../img/ring2.jpg);
}
.image3 {
    background-image: url(../img/ring3.jpg);
}
.image4 {
    background-image: url(../img/ring4.jpg);
}
.image5 {
    background-image: url(../img/ring5.jpg);
}
.image6 {
    background-image: url(../img/ring6.jpg);
}
.image7 {
    background-image: url(../img/ring7.jpg);
}
.image8 {
    background-image: url(../img/ring8.jpg);
}